/**
 * NavHome.scss
 *
 * Description: This SCSS file defines the styling for the NavHome component, which represents the navigation bar for the home section.
 * Dependencies:
 * - hoverIconOption: Shared styles for hover effects on icon options.
 * - navBarFixed: Shared styles for fixed navigation bar.
 * - breakpoints: Shared styles for defining responsive breakpoints.
 * - colors.scss: Shared styles for defining color variables.
 * 
 * Example Usage:
 * @use NavHome from './NavHome';
 * 
 */

@use '../../../shared/Styles/hoverIconOption' as *;
@use '../../../shared/Styles/navBarFixed' as *;
@use '../../../shared/Styles/breakpoints' as *;

@import '../../../shared/Styles/colors';

.container__navHome{
    width: 100%;
    border-bottom: 1px solid $border_color_light;

    .header__navHome{
        @include navBarFixed;

        .headerNavHome__Photo{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .headerNavHome__Photo-user{
                @media(min-width: ($MobileXL + 1)){
                    display: none;
                }
            }
            div{
                h2{
                    @media(max-width: $MobileXL){
                        padding: 0 0 0 25px;
                    }
                                     
                }
            }
        }
        .stars{
            @include iconOptionGrey;
            i{
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center; 
            }
        }
		.homeTitle {
			color: purple;
			margin-top: 17px;
		}

        @media(max-width: $MobileXL){
            border-bottom: 1px solid $border_color_light;
        }
    }
}