@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors';

.register__container {
    position: absolute;
    top: 65%; // Move the container down by 50% of the viewport height
    left: 50%; // Move the container right by 50% of the viewport width
    transform: translate(-50%, -50%); // Center the container both horizontally and vertically
    height: 100vh; // Make sure the container takes up the entire viewport height

    .register__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; // Center the children horizontally
        margin-left: auto; // Push content to the right

        .content__register {
            display: flex;
            flex-direction: column;
            align-items: center; // Center the children horizontally
            padding: 10px;

            input[type="text"], input[type="password"] {
                background: transparent;
                border: 3px solid $border_color_light;
                border-radius: 5px;
                width: 300px;
                height: 60px;
                font-size: 16px;
                color: purple;

                &:focus {
                    border: 1px solid $blue_Twitter;
                }

                @media (max-width: $TabletM) {
                    width: 100%;
                }
            }
        }

        .content__nextButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px; // Add some space between the input fields and the button

            .nextButton {
                cursor: pointer;
                width: 300px;
                height: 43px;
                border-radius: 40px;
                background: $color_font_light;
                color: #FFFFFF;

                @media (max-width: $TabletM) {
                    width: 100%;
                }
            }
        }
    }
}





