/**
 * BtnRetweet.scss
 *
 * Description: This file contains styles for the BtnRetweet component, which represents a button to retweet a post. It styles the appearance of the retweet button and its associated icon.
 * 
 * Dependencies: This file depends on styles defined in '../../Styles/hoverIconOption'.
 * 
 * Example Usage: 
 *   - Import and use this SCSS file in your component to style the retweet button.
 *   - Apply the 'retweet' class to customize the appearance of the retweet button.
 */

@use '../../Styles/hoverIconOption' as *;

.BtnRetweet__container{
    .option{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i{
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center
        }
        span{
            margin: 0 0 0 8px;
        }
    }
    .retweet{
        @include iconOptionRetweet;
    }
}
