/**
 * TweetPost.scss
 *
 * Description: This SCSS file defines the styling for the TweetPost component, which represents a single tweet in the application.
 * 
 * Example Usage:
 * @use TweetPost from './TweetPost';
 */


.Tweet__container {
  // Styles for the container of the entire tweet
}

.tweet__ID {
  font-weight: bold; // Make the Post ID bold
}

.tweet__content {
  // Styles for the content of the tweet
  font-weight: bold; // Make the Post ID bold
}

.content__options {
  // Styles for the options container
  
}

.content__option-right {
  // Styles for the options on the right side
}

.option {
  // Styles for each option
  cursor: pointer; // Change cursor to pointer on hover
  i {
    // Styles for the icon within the option
  }
}

// Styles for the comment section and its elements
.tweet__comments {
  display: flex;
  flex-direction: column;
  align-items: flex-end; // Align items to the right
  margin: 15px 20px; // Add margin to the left and right
  //border-radius: 10px;;
  input {
    margin: 5px 0; // Add margin above and below the input box
    padding: 5px; // Add padding inside the input box for better text visibility
    width: 80%; // Adjust width as per design requirements
  }

  button {
    margin: 5px 0; // Add margin above and below the button
    padding: 5px 10px; // Add padding inside the button for a better click area
  }

  .tweet__comment {
    margin-bottom: 10px; // Add margin between comments
    width: 100%; // Adjust width as per design requirements
    padding: 5px; // Add padding for spacing inside each comment
    border-radius: 10px; // Optional: add rounded corners to comment boxes
    background-color: #f0f0f0; // Optional: change background color of comment boxes
    align-self: stretch; // Stretch the comment box to match the width of the input and button
  }
}

// Additional styles for specific options if needed
.comments {}
.retweet {}
.share {}
.statistics {}

.nav__data-time {
  margin-left: auto; // Shift the time to the right
}
