/**
 * PhotoUser.scss
 *
 * Description: This file contains the styles for the PhotoUser component, which displays a user's photo.
 * 
 * Example Usage:
 * import './PhotoUser.scss';
 */
 
.photo__user-container{
    img{
        min-width: 20px;
        min-height: 20px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}