/**
 * color.scss
 *
 * Description: This file contains color variables for the theme.
 */

$blue_Twitter: rgba(240, 170, 35, 0.75);
$blue___Twitter_hover: rgb(26, 140,216);
$blue__Twitter_transparent: rgba(29, 155, 240, 0.1);

$green_Twitter: rgb(0, 186, 124);
$green__Twitter_transparent: rgba(0, 186, 124, 0.2);

$red_Twitter: rgb(249, 24, 128);
$red__Twitter_transparent: rgba(249, 24, 129, 0.2);

$gray__Twitter_transparent: rgba(110, 118, 125, 0.2);

$background_Twitter: #FFF;
$bg_Twitter_transparent: rgba(240, 170, 35, 0.75);

$bg_optionMenu: rgb(110, 30, 111);

$color_white: rgb(255,255,255);
$color_font_light: rgba(110, 30, 111, 0.8);

$border_color_light: rgba(240, 170, 35, 0.75);

$color_text_gray: #6E1E6F;

$color_background_login: #242D34;
$bg_PopUp: rgba(91, 112, 131, 0.4);

$delete_color: #f4212b;