/*
 * InsideMessage.scss
 * 
 * Description: Styles for the InsideMessage component.
 * 
 * Dependencies:
 * - breakpoints (../../shared/Styles/breakpoints)
 * - colors.scss (../../shared/Styles/colors.scss)
 */


@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors.scss';

.insideMessage__container{
    width: 600px;
    height: 100%;
    border-left: 1px solid $border_color_light;
    .container__messageList{
        height: 100%;
        .messageList__photo-text{
            margin: 20px 0 0 20px;
            display: flex;
            align-items: center;
            .messageList__photo{
                cursor: pointer;
            }
            .messageList__text{
                font-size: 14px;
                margin: 0 0 0 15px;
                width: auto;
                border-radius: 15px 15px 15px 0;
                padding: 10px;
                background: $border_color_light;
            }
        }
        .messageList__sendTime{
            font-size: 13px;
            color: $color_text_gray;
        }
    }
	.messageList__container{
        display: flex;
        flex-direction: column;
        

        &.userMessage{
                justify-content: flex-end; // Aligns the whole block to the right
				margin-right: 10px;
				.messageList__photo-text{
                    flex-direction: row-reverse;
                    align-items: center; // Ensure avatar and text box are on the same line

                    .messageList__text{
                        background-color: purple;
                        color: #FFFFFF;
                        border-radius: 15px 15px 0 15px;
                        margin-right: 10px; // Space between message box and avatar
                    }

                    .messageList__photo{
                        margin-left: 10px; // Space after the avatar
                    }
                }
				.messageList__sendTime {
					text-align: right; // Right align for user messages
					margin-right: 20px; // Adjust as per layout
				}
				
            }

        &.friendMessage{
                justify-content: flex-start; // Aligns the whole block to the left

				.messageList__photo-text{
                    align-items: center; // Ensure avatar and text box are on the same line

                    .messageList__text{
                        background: $border_color_light;
                        color: $color_font_light;
                        border-radius: 15px 15px 15px 0;
                        margin-left: 10px; // Space between message box and avatar
                    }

                    .messageList__photo{
                        margin-right: 10px; // Space before the avatar
                    }
                }
				.messageList__sendTime {
					text-align: left; // Right align for user messages
					margin-left: 40px; // Adjust as per layout
				}
            }
    }
    .container__writeMessage{
        width: 600px;
        height: 50px;
        display: flex;
        position: fixed;
        bottom: 0;
        right: 100;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $border_color_light;
        @media(max-width: $LaptopM){
            width: 527px;
        }
        label{
            cursor: pointer;
            margin: 0 5px 0 5px;
            color: $blue_Twitter;
        }
        .writeMessage__input{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 500px;
            border: 1px solid $border_color_light;
            border-radius: 40px;
        }
        input[type="text"]{
            @media(max-width: $LaptopM){
                width: 390px;
            }
            width: 450px;
            height: 35px;
            font-size: 0.9em;
            border: transparent;
            background-color: transparent;
            text-decoration: none solid $color_text_gray;
            color: $color_font_light;
            padding: 0 0 0 15px;
        }
    }
}